@font-face {
    font-family: 'Noto sans KR';
    src: url('assets/fonts/NotoSansKR-light.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/NotoSansKR-light.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Noto sans KR';
    src: url('assets/fonts/NotoSansKR-regular.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/NotoSansKR-regular.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Noto sans KR';
    src: url('assets/fonts/NotoSansKR-medium.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/NotoSansKR-medium.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Noto sans KR';
    src: url('assets/fonts/NotoSansKR-bold.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/NotoSansKR-bold.woff') format('woff'); /* Modern Browsers */
    font-style: bold;
    font-weight: 700;
}

